In [124]:
import pandas as pd

from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import PolynomialFeatures
from itertools import combinations

df = pd.read_csv("train.csv")

In [83]:
df.shape

(10886, 31)

In [85]:
df.head()

,CO_month,datetime,CO_workingday,NO_temp,NO_atemp,NO_humidity,NO_windspeed,S_casual,S_registered,count,...,CO_holiday,CN_school,NN_soleil,CN_soleilQ,NN_tendance_1,NN_tendance_2,CN_tendance_1Q,CN_tendance_2Q,S_rateregis,S_rateregisQ
0,January,2011-01-01 00:00:00,0,9.84,14.395,81,0.0,3,13,16,...,1,0,-68.036186,"[-74.5,-28]",0.418093,0,"[0.409,0.432]","[0,67]",0.812500,"(0.77,0.817]"
1,January,2011-01-01 01:00:00,0,9.02,13.635,80,0.0,8,32,40,...,1,0,-73.948688,"[-74.5,-28]",0.418093,0,"[0.409,0.432]","[0,67]",0.800000,"(0.77,0.817]"
2,January,2011-01-01 02:00:00,0,9.02,13.635,80,0.0,5,27,32,...,1,0,-71.066026,"[-74.5,-28]",0.418093,0,"[0.409,0.432]","[0,67]",0.843750,"(0.817,0.855]"
3,January,2011-01-01 03:00:00,0,9.84,14.395,75,0.0,3,10,13,...,1,0,-62.016308,"[-74.5,-28]",0.418093,0,"[0.409,0.432]","[0,67]",0.769231,"(0.717,0.77]"
4,January,2011-01-01 04:00:00,0,9.84,14.395,75,0.0,0,1,1,...,1,0,-50.973158,"[-74.5,-28]",0.418093,0,"[0.409,0.432]","[0,67]",1.000000,"(0.986,1]"

In [86]:
list(df)

['CO_month',
 'datetime',
 'CO_workingday',
 'NO_temp',
 'NO_atemp',
 'NO_humidity',
 'NO_windspeed',
 'S_casual',
 'S_registered',
 'count',
 'CO_hour',
 'CO_day',
 'CO_year',
 'CO_season',
 'CO_weather',
 'CO_humidityQ',
 'CO_tempQ',
 'CO_atempQ',
 'CO_windspeedQ',
 'S_casualQ',
 'S_registeredQ',
 'CO_holiday',
 'CN_school',
 'NN_soleil',
 'CN_soleilQ',
 'NN_tendance_1',
 'NN_tendance_2',
 'CN_tendance_1Q',
 'CN_tendance_2Q',
 'S_rateregis',
 'S_rateregisQ']

In [89]:
all_categorical_o = [name_var for name_var in list(df) if name_var[0:2] == 'CO'] 
all_numeric_o = [name_var for name_var in list(df) if name_var[0:2] == 'NO']

In [90]:
all_categorical_o

['CO_month',
 'CO_workingday',
 'CO_hour',
 'CO_day',
 'CO_year',
 'CO_season',
 'CO_weather',
 'CO_humidityQ',
 'CO_tempQ',
 'CO_atempQ',
 'CO_windspeedQ',
 'CO_holiday']

In [91]:
all_numeric_o

['NO_temp', 'NO_atemp', 'NO_humidity', 'NO_windspeed']

I Création du dataset des variables "Origin"

On passe en dummies les catégorielles

In [92]:
# Transformation de toutes les variables catégorielles:
df_all_dummies_o = pd.get_dummies(df[all_categorical_o])

In [93]:
df_all_dummies_o.shape

(10886, 47)

In [94]:
df_numeric_and_categorical_o = pd.concat([df[["datetime"]], df[all_numeric_o], df_all_dummies_o], axis = 1)
list_var_clean_X = [var for var in list(df_numeric_and_categorical_o) if var != "count" and var != "datetime"]
clean_X = df_numeric_and_categorical_o[list_var_clean_X]
clean_Y = df[["count"]]

X_train, X_test, Y_train, Y_test = train_test_split(clean_X,
                                                    clean_Y,
                                                    test_size = 0.3,
                                                    random_state = 0)

In [95]:
len(list(X_train))

51

In [65]:
X_train.to_pickle("X_train_o.pkl")
X_test.to_pickle("X_test_o.pkl")
Y_train.to_pickle("Y_train_o.pkl")
Y_test.to_pickle("Y_test_o.pkl")

II Création d'un dataset avec les variables Origin et New et interactions entre catégorielles d'ordre 2<br>
On peut aussi ajouter les interactions entre variables numériques

On prend toutes les variables "CO", "NO", "NN" et "CN"

In [360]:
df = pd.read_csv("train.csv")

In [361]:
list(df)

['CO_month',
 'datetime',
 'CO_workingday',
 'NO_temp',
 'NO_atemp',
 'NO_humidity',
 'NO_windspeed',
 'S_casual',
 'S_registered',
 'count',
 'CO_hour',
 'CO_day',
 'CO_year',
 'CO_season',
 'CO_weather',
 'CO_humidityQ',
 'CO_tempQ',
 'CO_atempQ',
 'CO_windspeedQ',
 'S_casualQ',
 'S_registeredQ',
 'CO_holiday',
 'CN_school',
 'NN_soleil',
 'CN_soleilQ',
 'NN_tendance_1',
 'NN_tendance_2',
 'CN_tendance_1Q',
 'CN_tendance_2Q',
 'S_rateregis',
 'S_rateregisQ']

In [362]:
all_origin_var_and_new = [name_var for name_var in list(df) if name_var[0:2] == 'CO' or name_var[0:2] == 'NO' or name_var[0:2] == 'NN' or name_var[0:2] == 'CN']
all_categorical = [name_var for name_var in list(df) if name_var[0:1] == 'C']

In [363]:
len(all_categorical)

16

In [368]:
df[all_categorical].dtypes

CO_month          object
CO_workingday      int64
CO_hour            int64
CO_day            object
CO_year            int64
CO_season         object
CO_weather        object
CO_humidityQ      object
CO_tempQ          object
CO_atempQ         object
CO_windspeedQ     object
CO_holiday         int64
CN_school          int64
CN_soleilQ        object
CN_tendance_1Q    object
CN_tendance_2Q    object
dtype: object

In [397]:
all_categorical

['CO_month',
 'CO_workingday',
 'CO_hour',
 'CO_day',
 'CO_year',
 'CO_season',
 'CO_weather',
 'CO_humidityQ',
 'CO_tempQ',
 'CO_atempQ',
 'CO_windspeedQ',
 'CO_holiday',
 'CN_school',
 'CN_soleilQ',
 'CN_tendance_1Q',
 'CN_tendance_2Q']

In [408]:
df_all_categorical = df[all_categorical].applymap(str)
# df_all_categorical.dtypes

In [409]:
df_all_categorical.shape

(10886, 16)

In [364]:
list(df)

['CO_month',
 'datetime',
 'CO_workingday',
 'NO_temp',
 'NO_atemp',
 'NO_humidity',
 'NO_windspeed',
 'S_casual',
 'S_registered',
 'count',
 'CO_hour',
 'CO_day',
 'CO_year',
 'CO_season',
 'CO_weather',
 'CO_humidityQ',
 'CO_tempQ',
 'CO_atempQ',
 'CO_windspeedQ',
 'S_casualQ',
 'S_registeredQ',
 'CO_holiday',
 'CN_school',
 'NN_soleil',
 'CN_soleilQ',
 'NN_tendance_1',
 'NN_tendance_2',
 'CN_tendance_1Q',
 'CN_tendance_2Q',
 'S_rateregis',
 'S_rateregisQ']

In [349]:
all_origin_var_and_new

['CO_month',
 'CO_workingday',
 'NO_temp',
 'NO_atemp',
 'NO_humidity',
 'NO_windspeed',
 'CO_hour',
 'CO_day',
 'CO_year',
 'CO_season',
 'CO_weather',
 'CO_humidityQ',
 'CO_tempQ',
 'CO_atempQ',
 'CO_windspeedQ',
 'CO_holiday',
 'CN_school',
 'NN_soleil',
 'CN_soleilQ',
 'NN_tendance_1',
 'NN_tendance_2',
 'CN_tendance_1Q',
 'CN_tendance_2Q']

In [350]:
# df_all_categorical = df[all_categorical].applymap(str)
# df_all_categorical.dtypes

Ajout des interactions d'ordre 2 entre variables catégorielles

In [302]:
# df[all_categorical].head()

In [388]:
# def interaction_order(df,list_of_categ_var, order, only_ordre):
def interaction_order(df,list_of_categ_var, order):
    
    initial_list_df = list_of_categ_var

    # if only_ordre == True:
    all_interactions = list(combinations(list_of_categ_var,order))

    # print ("Nb d'interactions", len(all_interactions))
    # print ("Interaction entre : ", all_interactions)

    for i in range(0, len(all_interactions)):
        # all_inter_variables = []
        # print (list(all_interactions[i]))

        for each in list(all_interactions[i]):
            # New columns of interaction
            for each in range(0,order):

                # Name of interaction variables
                # var_inter_name = 'inter_' + str(i)
                
                var_inter_name = "_+_".join(list(all_interactions[i]))

                # df[var_inter_name] = df[list(all_interactions[i])[0]] + '_' + df[list(all_interactions[i])[1]]
                if each == 0:
                    # print ("each", each)
                    
                    # print (var_inter_name)
                    df[var_inter_name] = df[list(all_interactions[i])[each]]
                else:
                    df[var_inter_name] = df[var_inter_name] + '_' + df[list(all_interactions[i])[each]]

                # all_inter_variables.append(var_inter_name)
                # print (all_inter_variables)

    # Keep only interaction variables in the dataframe
    print (initial_list_df)
    df = df.drop(initial_list_df, axis=1)
    # df = df[all_inter_variables]
    return df

In [389]:
df.shape

(10886, 31)

In [390]:
all_categorical

['CO_month',
 'CO_workingday',
 'CO_hour',
 'CO_day',
 'CO_year',
 'CO_season',
 'CO_weather',
 'CO_humidityQ',
 'CO_tempQ',
 'CO_atempQ',
 'CO_windspeedQ',
 'CO_holiday',
 'CN_school',
 'CN_soleilQ',
 'CN_tendance_1Q',
 'CN_tendance_2Q']

In [402]:
len(all_categorical)

16

In [401]:
list_of_categ_var = all_categorical
df_with_interaction = interaction_order(df_all_categorical,list_of_categ_var, 2)

['CO_month', 'CO_workingday', 'CO_hour', 'CO_day', 'CO_year', 'CO_season', 'CO_weather', 'CO_humidityQ', 'CO_tempQ', 'CO_atempQ', 'CO_windspeedQ', 'CO_holiday', 'CN_school', 'CN_soleilQ', 'CN_tendance_1Q', 'CN_tendance_2Q']

In [403]:
df_with_interaction.head()

,CO_month_+_CO_workingday,CO_month_+_CO_hour,CO_month_+_CO_day,CO_month_+_CO_year,CO_month_+_CO_season,CO_month_+_CO_weather,CO_month_+_CO_humidityQ,CO_month_+_CO_tempQ,CO_month_+_CO_atempQ,CO_month_+_CO_windspeedQ,...,CO_holiday_+_CN_school,CO_holiday_+_CN_soleilQ,CO_holiday_+_CN_tendance_1Q,CO_holiday_+_CN_tendance_2Q,CN_school_+_CN_soleilQ,CN_school_+_CN_tendance_1Q,CN_school_+_CN_tendance_2Q,CN_soleilQ_+_CN_tendance_1Q,CN_soleilQ_+_CN_tendance_2Q,CN_tendance_1Q_+_CN_tendance_2Q
0,January_0,January_0,January_Saturday,January_2011,January_Printemps,January_Beau temps,"January_(77,100]","January_[0.82,13.9]","January_[0.76,16.7]","January_[0,7]",...,1_0,"1_[-74.5,-28]","1_[0.409,0.432]","1_[0,67]","0_[-74.5,-28]","0_[0.409,0.432]","0_[0,67]","[-74.5,-28]_[0.409,0.432]","[-74.5,-28]_[0,67]","[0.409,0.432]_[0,67]"
1,January_0,January_1,January_Saturday,January_2011,January_Printemps,January_Beau temps,"January_(77,100]","January_[0.82,13.9]","January_[0.76,16.7]","January_[0,7]",...,1_0,"1_[-74.5,-28]","1_[0.409,0.432]","1_[0,67]","0_[-74.5,-28]","0_[0.409,0.432]","0_[0,67]","[-74.5,-28]_[0.409,0.432]","[-74.5,-28]_[0,67]","[0.409,0.432]_[0,67]"
2,January_0,January_2,January_Saturday,January_2011,January_Printemps,January_Beau temps,"January_(77,100]","January_[0.82,13.9]","January_[0.76,16.7]","January_[0,7]",...,1_0,"1_[-74.5,-28]","1_[0.409,0.432]","1_[0,67]","0_[-74.5,-28]","0_[0.409,0.432]","0_[0,67]","[-74.5,-28]_[0.409,0.432]","[-74.5,-28]_[0,67]","[0.409,0.432]_[0,67]"
3,January_0,January_3,January_Saturday,January_2011,January_Printemps,January_Beau temps,"January_(62,77]","January_[0.82,13.9]","January_[0.76,16.7]","January_[0,7]",...,1_0,"1_[-74.5,-28]","1_[0.409,0.432]","1_[0,67]","0_[-74.5,-28]","0_[0.409,0.432]","0_[0,67]","[-74.5,-28]_[0.409,0.432]","[-74.5,-28]_[0,67]","[0.409,0.432]_[0,67]"
4,January_0,January_4,January_Saturday,January_2011,January_Printemps,January_Beau temps,"January_(62,77]","January_[0.82,13.9]","January_[0.76,16.7]","January_[0,7]",...,1_0,"1_[-74.5,-28]","1_[0.409,0.432]","1_[0,67]","0_[-74.5,-28]","0_[0.409,0.432]","0_[0,67]","[-74.5,-28]_[0.409,0.432]","[-74.5,-28]_[0,67]","[0.409,0.432]_[0,67]"

In [250]:
# len(all_origin_var_and_new)

23

In [404]:
# len(list(df_with_interaction))
list(df_with_interaction)[0:5]

['CO_month_+_CO_workingday',
 'CO_month_+_CO_hour',
 'CO_month_+_CO_day',
 'CO_month_+_CO_year',
 'CO_month_+_CO_season']

In [405]:
df_with_interaction[["CO_month_+_CO_season"]].head()

  CO_month_+_CO_season
0    January_Printemps
1    January_Printemps
2    January_Printemps
3    January_Printemps
4    January_Printemps

In [406]:
all_categorical_new = all_categorical + list(df_with_interaction)

In [385]:
df_with_interaction.shape

(10886, 120)

In [410]:
df_all_categorical.shape

(10886, 16)

In [ ]:
# A RELANCER AU CAS OU
# df_all_categorical = df[all_categorical].applymap(str)

In [411]:
df_before_dummies = pd.concat([df_all_categorical,df_with_interaction], axis = 1)

In [412]:
df_before_dummies.shape

(10886, 136)

In [413]:
# len(list(df_before_dummies))
df_before_dummies.head()

,CO_month,CO_workingday,CO_hour,CO_day,CO_year,CO_season,CO_weather,CO_humidityQ,CO_tempQ,CO_atempQ,...,CO_holiday_+_CN_school,CO_holiday_+_CN_soleilQ,CO_holiday_+_CN_tendance_1Q,CO_holiday_+_CN_tendance_2Q,CN_school_+_CN_soleilQ,CN_school_+_CN_tendance_1Q,CN_school_+_CN_tendance_2Q,CN_soleilQ_+_CN_tendance_1Q,CN_soleilQ_+_CN_tendance_2Q,CN_tendance_1Q_+_CN_tendance_2Q
0,January,0,0,Saturday,2011,Printemps,Beau temps,"(77,100]","[0.82,13.9]","[0.76,16.7]",...,1_0,"1_[-74.5,-28]","1_[0.409,0.432]","1_[0,67]","0_[-74.5,-28]","0_[0.409,0.432]","0_[0,67]","[-74.5,-28]_[0.409,0.432]","[-74.5,-28]_[0,67]","[0.409,0.432]_[0,67]"
1,January,0,1,Saturday,2011,Printemps,Beau temps,"(77,100]","[0.82,13.9]","[0.76,16.7]",...,1_0,"1_[-74.5,-28]","1_[0.409,0.432]","1_[0,67]","0_[-74.5,-28]","0_[0.409,0.432]","0_[0,67]","[-74.5,-28]_[0.409,0.432]","[-74.5,-28]_[0,67]","[0.409,0.432]_[0,67]"
2,January,0,2,Saturday,2011,Printemps,Beau temps,"(77,100]","[0.82,13.9]","[0.76,16.7]",...,1_0,"1_[-74.5,-28]","1_[0.409,0.432]","1_[0,67]","0_[-74.5,-28]","0_[0.409,0.432]","0_[0,67]","[-74.5,-28]_[0.409,0.432]","[-74.5,-28]_[0,67]","[0.409,0.432]_[0,67]"
3,January,0,3,Saturday,2011,Printemps,Beau temps,"(62,77]","[0.82,13.9]","[0.76,16.7]",...,1_0,"1_[-74.5,-28]","1_[0.409,0.432]","1_[0,67]","0_[-74.5,-28]","0_[0.409,0.432]","0_[0,67]","[-74.5,-28]_[0.409,0.432]","[-74.5,-28]_[0,67]","[0.409,0.432]_[0,67]"
4,January,0,4,Saturday,2011,Printemps,Beau temps,"(62,77]","[0.82,13.9]","[0.76,16.7]",...,1_0,"1_[-74.5,-28]","1_[0.409,0.432]","1_[0,67]","0_[-74.5,-28]","0_[0.409,0.432]","0_[0,67]","[-74.5,-28]_[0.409,0.432]","[-74.5,-28]_[0,67]","[0.409,0.432]_[0,67]"

In [414]:
# Transformation de toutes les variables catégorielles:
df_all_dummies = pd.get_dummies(df_before_dummies)

In [284]:
# len(list(df_all_dummies))
# "CO_holiday_+_CN_soleilQ" in list(df_all_dummies)
# "CO_day" in list(df_all_dummies)

False

In [415]:
# df + df_all_interactions + df_all_dummies
df_all_dummies.head()

,CO_month_April,CO_month_August,CO_month_December,CO_month_February,CO_month_January,CO_month_July,CO_month_June,CO_month_March,CO_month_May,CO_month_November,...,"CN_tendance_1Q_+_CN_tendance_2Q_(1.49,1.56]_(582,650]","CN_tendance_1Q_+_CN_tendance_2Q_(1.56,1.69]_(582,650]","CN_tendance_1Q_+_CN_tendance_2Q_(1.56,1.69]_(650,718]","CN_tendance_1Q_+_CN_tendance_2Q_(1.69,2.31]_(365,433]","CN_tendance_1Q_+_CN_tendance_2Q_(1.69,2.31]_(433,501]","CN_tendance_1Q_+_CN_tendance_2Q_(2.31,2.45]_(285,365]","CN_tendance_1Q_+_CN_tendance_2Q_(2.31,2.45]_(365,433]","CN_tendance_1Q_+_CN_tendance_2Q_(2.31,2.45]_(433,501]","CN_tendance_1Q_+_CN_tendance_2Q_[0.409,0.432]_(67,136]","CN_tendance_1Q_+_CN_tendance_2Q_[0.409,0.432]_[0,67]"
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [416]:
len(list(df_all_dummies))

3905

In [417]:
import random
random.choices(list(df_all_dummies), k=10)

['CO_month_+_CO_tempQ_June_(13.9,20.5]',
 'CO_day_Friday',
 'CO_workingday_+_CO_atempQ_0_(24.2,31.1]',
 'CO_hour_+_CN_tendance_1Q_2_(0.64,0.672]',
 'CO_hour_9',
 'CO_weather_+_CO_humidityQ_Pluvieux (-)_[0,47]',
 'CO_humidityQ_+_CN_tendance_1Q_(62,77]_(1.31,1.49]',
 'CO_hour_+_CO_atempQ_12_(16.7,24.2]',
 'CO_month_+_CO_hour_April_4',
 'CO_hour_+_CN_soleilQ_1_[-74.5,-28]']

In [249]:
# len(list(all_var_for_models_nodup)

91

In [418]:
all_var_for_models = []
all_var_for_models.append("datetime")
for each in all_origin_var_and_new:
    all_var_for_models.append(each) 
for each in all_categorical:
    all_var_for_models.append(each) 
for each in list(df_all_dummies):
    all_var_for_models.append(each)

all_var_for_models_nodup = []
for each in all_var_for_models:
    if each not in all_var_for_models_nodup:
        all_var_for_models_nodup.append(each)

In [277]:
len(list(all_var_for_models_nodup))

4017

On ajoute les dataframes : df + df_with_interaction + df_all_dummies

In [420]:

all_df = pd.concat([df, df_with_interaction, df_all_dummies], axis = 1)
                                          
list_var_clean_X = [var for var in list(all_df) if var != "count" and var != "datetime"]                                         
clean_X = all_df[list_var_clean_X]
clean_Y = df[["count"]]

X_train, X_test, Y_train, Y_test = train_test_split(clean_X,
                                                    clean_Y,
                                                    test_size = 0.3,
                                                    random_state = 0)

In [422]:
X_train.shape

(7620, 4054)

In [423]:
X_test.shape

(3266, 4054)

In [424]:
Y_train.shape

(7620, 1)

In [425]:
Y_test.shape

(3266, 1)

In [427]:
X_train.to_pickle("X_train_n.pkl")
X_test.to_pickle("X_test_n.pkl")
Y_train.to_pickle("Y_train_n.pkl")
Y_test.to_pickle("Y_test_n.pkl")

On peut faire les interactions d'ordre 2 avec "Patsylearn" (différent de "Patsy") 
C'est un package Github

In [426]:
# from patsylearn import PatsyTransformer
# from patsylearn import PatsyModel
# transformer = PatsyTransformer("C(CO_season):C(CO_weather) + C(CO_season):C(CO_humidityQ)")