In [124]:
import pandas as pd

from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import PolynomialFeatures
from itertools import combinations

df = pd.read_csv("train.csv")

In [83]:
df.shape

(10886, 31)

In [85]:
df.head()

,CO_month,datetime,CO_workingday,NO_temp,NO_atemp,NO_humidity,NO_windspeed,S_casual,S_registered,count,...,CO_holiday,CN_school,NN_soleil,CN_soleilQ,NN_tendance_1,NN_tendance_2,CN_tendance_1Q,CN_tendance_2Q,S_rateregis,S_rateregisQ
0,January,2011-01-01 00:00:00,0,9.84,14.395,81,0.0,3,13,16,...,1,0,-68.036186,"[-74.5,-28]",0.418093,0,"[0.409,0.432]","[0,67]",0.812500,"(0.77,0.817]"
1,January,2011-01-01 01:00:00,0,9.02,13.635,80,0.0,8,32,40,...,1,0,-73.948688,"[-74.5,-28]",0.418093,0,"[0.409,0.432]","[0,67]",0.800000,"(0.77,0.817]"
2,January,2011-01-01 02:00:00,0,9.02,13.635,80,0.0,5,27,32,...,1,0,-71.066026,"[-74.5,-28]",0.418093,0,"[0.409,0.432]","[0,67]",0.843750,"(0.817,0.855]"
3,January,2011-01-01 03:00:00,0,9.84,14.395,75,0.0,3,10,13,...,1,0,-62.016308,"[-74.5,-28]",0.418093,0,"[0.409,0.432]","[0,67]",0.769231,"(0.717,0.77]"
4,January,2011-01-01 04:00:00,0,9.84,14.395,75,0.0,0,1,1,...,1,0,-50.973158,"[-74.5,-28]",0.418093,0,"[0.409,0.432]","[0,67]",1.000000,"(0.986,1]"

In [86]:
list(df)

['CO_month',
 'datetime',
 'CO_workingday',
 'NO_temp',
 'NO_atemp',
 'NO_humidity',
 'NO_windspeed',
 'S_casual',
 'S_registered',
 'count',
 'CO_hour',
 'CO_day',
 'CO_year',
 'CO_season',
 'CO_weather',
 'CO_humidityQ',
 'CO_tempQ',
 'CO_atempQ',
 'CO_windspeedQ',
 'S_casualQ',
 'S_registeredQ',
 'CO_holiday',
 'CN_school',
 'NN_soleil',
 'CN_soleilQ',
 'NN_tendance_1',
 'NN_tendance_2',
 'CN_tendance_1Q',
 'CN_tendance_2Q',
 'S_rateregis',
 'S_rateregisQ']

In [89]:
all_categorical_o = [name_var for name_var in list(df) if name_var[0:2] == 'CO'] 
all_numeric_o = [name_var for name_var in list(df) if name_var[0:2] == 'NO']

In [90]:
all_categorical_o

['CO_month',
 'CO_workingday',
 'CO_hour',
 'CO_day',
 'CO_year',
 'CO_season',
 'CO_weather',
 'CO_humidityQ',
 'CO_tempQ',
 'CO_atempQ',
 'CO_windspeedQ',
 'CO_holiday']

In [91]:
all_numeric_o

['NO_temp', 'NO_atemp', 'NO_humidity', 'NO_windspeed']

I CrÃ©ation du dataset des variables "Origin"

On passe en dummies les catÃ©gorielles

In [92]:
# Transformation de toutes les variables catÃ©gorielles:
df_all_dummies_o = pd.get_dummies(df[all_categorical_o])

In [93]:
df_all_dummies_o.shape

(10886, 47)

In [94]:
df_numeric_and_categorical_o = pd.concat([df[["datetime"]], df[all_numeric_o], df_all_dummies_o], axis = 1)
list_var_clean_X = [var for var in list(df_numeric_and_categorical_o) if var != "count" and var != "datetime"]
clean_X = df_numeric_and_categorical_o[list_var_clean_X]
clean_Y = df[["count"]]

X_train, X_test, Y_train, Y_test = train_test_split(clean_X,
                                                    clean_Y,
                                                    test_size = 0.3,
                                                    random_state = 0)

In [95]:
len(list(X_train))

51

In [65]:
X_train.to_pickle("X_train_o.pkl")
X_test.to_pickle("X_test_o.pkl")
Y_train.to_pickle("Y_train_o.pkl")
Y_test.to_pickle("Y_test_o.pkl")

II CrÃ©ation d'un dataset avec les variables Origin et New et interactions entre catÃ©gorielles d'ordre 2<br>
On peut aussi ajouter les interactions entre variables numÃ©riques

On prend toutes les variables "CO", "NO", "NN" et "CN"

In [127]:
df = pd.read_csv("train.csv")

In [128]:
list(df)

['CO_month',
 'datetime',
 'CO_workingday',
 'NO_temp',
 'NO_atemp',
 'NO_humidity',
 'NO_windspeed',
 'S_casual',
 'S_registered',
 'count',
 'CO_hour',
 'CO_day',
 'CO_year',
 'CO_season',
 'CO_weather',
 'CO_humidityQ',
 'CO_tempQ',
 'CO_atempQ',
 'CO_windspeedQ',
 'S_casualQ',
 'S_registeredQ',
 'CO_holiday',
 'CN_school',
 'NN_soleil',
 'CN_soleilQ',
 'NN_tendance_1',
 'NN_tendance_2',
 'CN_tendance_1Q',
 'CN_tendance_2Q',
 'S_rateregis',
 'S_rateregisQ']

In [129]:
all_origin_var_and_new = [name_var for name_var in list(df) if name_var[0:2] == 'CO' or name_var[0:2] == 'NO' or name_var[0:2] == 'NN' or name_var[0:2] == 'CN']

In [130]:
all_categorical = [name_var for name_var in all_origin_var_and_new if name_var[0] == 'C']
# Transformation de toutes les variables catÃ©gorielles:
df_all_dummies = pd.get_dummies(df[all_categorical])

In [131]:
list(df)

['CO_month',
 'datetime',
 'CO_workingday',
 'NO_temp',
 'NO_atemp',
 'NO_humidity',
 'NO_windspeed',
 'S_casual',
 'S_registered',
 'count',
 'CO_hour',
 'CO_day',
 'CO_year',
 'CO_season',
 'CO_weather',
 'CO_humidityQ',
 'CO_tempQ',
 'CO_atempQ',
 'CO_windspeedQ',
 'S_casualQ',
 'S_registeredQ',
 'CO_holiday',
 'CN_school',
 'NN_soleil',
 'CN_soleilQ',
 'NN_tendance_1',
 'NN_tendance_2',
 'CN_tendance_1Q',
 'CN_tendance_2Q',
 'S_rateregis',
 'S_rateregisQ']

In [132]:
list(df_all_dummies)

['CO_workingday',
 'CO_hour',
 'CO_year',
 'CO_holiday',
 'CN_school',
 'CO_month_April',
 'CO_month_August',
 'CO_month_December',
 'CO_month_February',
 'CO_month_January',
 'CO_month_July',
 'CO_month_June',
 'CO_month_March',
 'CO_month_May',
 'CO_month_November',
 'CO_month_October',
 'CO_month_September',
 'CO_day_Friday',
 'CO_day_Monday',
 'CO_day_Saturday',
 'CO_day_Sunday',
 'CO_day_Thursday',
 'CO_day_Tuesday',
 'CO_day_Wednesday',
 'CO_season_Automne',
 'CO_season_Hiver',
 'CO_season_Printemps',
 'CO_season_Ã‰tÃ©',
 'CO_weather_Beau temps',
 'CO_weather_Nuageux',
 'CO_weather_Pluvieux (+)',
 'CO_weather_Pluvieux (-)',
 'CO_humidityQ_(47,62]',
 'CO_humidityQ_(62,77]',
 'CO_humidityQ_(77,100]',
 'CO_humidityQ_[0,47]',
 'CO_tempQ_(13.9,20.5]',
 'CO_tempQ_(20.5,26.2]',
 'CO_tempQ_(26.2,41]',
 'CO_tempQ_[0.82,13.9]',
 'CO_atempQ_(16.7,24.2]',
 'CO_atempQ_(24.2,31.1]',
 'CO_atempQ_(31.1,45.5]',
 'CO_atempQ_[0.76,16.7]',
 'CO_windspeedQ_(13,17]',
 'CO_windspeedQ_(17,57]',
 'CO_windspeedQ_(7,13]',
 'CO_windspeedQ_[0,7]',
 'CN_soleilQ_(-28,1.01]',
 'CN_soleilQ_(1.01,28.9]',
 'CN_soleilQ_(28.9,74.4]',
 'CN_soleilQ_[-74.5,-28]',
 'CN_tendance_1Q_(0.432,0.593]',
 'CN_tendance_1Q_(0.593,0.64]',
 'CN_tendance_1Q_(0.64,0.672]',
 'CN_tendance_1Q_(0.672,1.31]',
 'CN_tendance_1Q_(1.31,1.49]',
 'CN_tendance_1Q_(1.49,1.56]',
 'CN_tendance_1Q_(1.56,1.69]',
 'CN_tendance_1Q_(1.69,2.31]',
 'CN_tendance_1Q_(2.31,2.45]',
 'CN_tendance_1Q_[0.409,0.432]',
 'CN_tendance_2Q_(136,217]',
 'CN_tendance_2Q_(217,285]',
 'CN_tendance_2Q_(285,365]',
 'CN_tendance_2Q_(365,433]',
 'CN_tendance_2Q_(433,501]',
 'CN_tendance_2Q_(501,582]',
 'CN_tendance_2Q_(582,650]',
 'CN_tendance_2Q_(650,718]',
 'CN_tendance_2Q_(67,136]',
 'CN_tendance_2Q_[0,67]']

In [133]:
all_origin_var_and_new

['CO_month',
 'CO_workingday',
 'NO_temp',
 'NO_atemp',
 'NO_humidity',
 'NO_windspeed',
 'CO_hour',
 'CO_day',
 'CO_year',
 'CO_season',
 'CO_weather',
 'CO_humidityQ',
 'CO_tempQ',
 'CO_atempQ',
 'CO_windspeedQ',
 'CO_holiday',
 'CN_school',
 'NN_soleil',
 'CN_soleilQ',
 'NN_tendance_1',
 'NN_tendance_2',
 'CN_tendance_1Q',
 'CN_tendance_2Q']

Ajout des interactions d'ordre 2 entre variables catÃ©gorielles

In [134]:
# def interaction_order(df,list_of_categ_var, order, only_ordre):
def interaction_order(df,list_of_categ_var, order):
    
    initial_list_df = list(df)

    # if only_ordre == True:
    all_interactions = list(combinations(list_of_categ_var,order))

    print ("Nb d'interactions", len(all_interactions))
    print ("Interaction entre : ", all_interactions)

    for i in range(0, len(all_interactions)):
        all_inter_variables = []
        for each in list(all_interactions[i]):

            # New columns of interaction
            for each in range(0,order):

                # Name of interaction variables
                # var_inter_name = 'inter_' + str(i)
                var_inter_name = "_+_".join(list(all_interactions[i]))

                # df[var_inter_name] = df[list(all_interactions[i])[0]] + '_' + df[list(all_interactions[i])[1]]
                if each == 0:
                    df[var_inter_name] = df[list(all_interactions[i])[each]]
                else:
                    df[var_inter_name] = df[var_inter_name] + '_' + df[list(all_interactions[i])[each]]

                # all_inter_variables.append(var_inter_name)
                # print (all_inter_variables)

        # Keep only interaction variables in the dataframe
        df = df.drop(initial_list_df, axis=1)
        # df = df[all_inter_variables]
    return df

In [138]:
df_all_categorical.dtypes

CO_month                    object
CO_workingday               object
CO_hour                     object
CO_day                      object
CO_year                     object
CO_season                   object
CO_weather                  object
CO_humidityQ                object
CO_tempQ                    object
CO_atempQ                   object
CO_windspeedQ               object
CO_holiday                  object
CN_school                   object
CN_soleilQ                  object
CN_tendance_1Q              object
CN_tendance_2Q              object
CO_month_+_CO_workingday    object
dtype: object

In [136]:
df_all_categorical = df[all_categorical].applymap(str)

In [137]:
list_of_categ_var = all_categorical
interaction_order(df_all_categorical,list_of_categ_var, 2)

Nb d'interactions 120
Interaction entre :  [('CO_month', 'CO_workingday'), ('CO_month', 'CO_hour'), ('CO_month', 'CO_day'), ('CO_month', 'CO_year'), ('CO_month', 'CO_season'), ('CO_month', 'CO_weather'), ('CO_month', 'CO_humidityQ'), ('CO_month', 'CO_tempQ'), ('CO_month', 'CO_atempQ'), ('CO_month', 'CO_windspeedQ'), ('CO_month', 'CO_holiday'), ('CO_month', 'CN_school'), ('CO_month', 'CN_soleilQ'), ('CO_month', 'CN_tendance_1Q'), ('CO_month', 'CN_tendance_2Q'), ('CO_workingday', 'CO_hour'), ('CO_workingday', 'CO_day'), ('CO_workingday', 'CO_year'), ('CO_workingday', 'CO_season'), ('CO_workingday', 'CO_weather'), ('CO_workingday', 'CO_humidityQ'), ('CO_workingday', 'CO_tempQ'), ('CO_workingday', 'CO_atempQ'), ('CO_workingday', 'CO_windspeedQ'), ('CO_workingday', 'CO_holiday'), ('CO_workingday', 'CN_school'), ('CO_workingday', 'CN_soleilQ'), ('CO_workingday', 'CN_tendance_1Q'), ('CO_workingday', 'CN_tendance_2Q'), ('CO_hour', 'CO_day'), ('CO_hour', 'CO_year'), ('CO_hour', 'CO_season'), ('CO_hour', 'CO_weather'), ('CO_hour', 'CO_humidityQ'), ('CO_hour', 'CO_tempQ'), ('CO_hour', 'CO_atempQ'), ('CO_hour', 'CO_windspeedQ'), ('CO_hour', 'CO_holiday'), ('CO_hour', 'CN_school'), ('CO_hour', 'CN_soleilQ'), ('CO_hour', 'CN_tendance_1Q'), ('CO_hour', 'CN_tendance_2Q'), ('CO_day', 'CO_year'), ('CO_day', 'CO_season'), ('CO_day', 'CO_weather'), ('CO_day', 'CO_humidityQ'), ('CO_day', 'CO_tempQ'), ('CO_day', 'CO_atempQ'), ('CO_day', 'CO_windspeedQ'), ('CO_day', 'CO_holiday'), ('CO_day', 'CN_school'), ('CO_day', 'CN_soleilQ'), ('CO_day', 'CN_tendance_1Q'), ('CO_day', 'CN_tendance_2Q'), ('CO_year', 'CO_season'), ('CO_year', 'CO_weather'), ('CO_year', 'CO_humidityQ'), ('CO_year', 'CO_tempQ'), ('CO_year', 'CO_atempQ'), ('CO_year', 'CO_windspeedQ'), ('CO_year', 'CO_holiday'), ('CO_year', 'CN_school'), ('CO_year', 'CN_soleilQ'), ('CO_year', 'CN_tendance_1Q'), ('CO_year', 'CN_tendance_2Q'), ('CO_season', 'CO_weather'), ('CO_season', 'CO_humidityQ'), ('CO_season', 'CO_tempQ'), ('CO_season', 'CO_atempQ'), ('CO_season', 'CO_windspeedQ'), ('CO_season', 'CO_holiday'), ('CO_season', 'CN_school'), ('CO_season', 'CN_soleilQ'), ('CO_season', 'CN_tendance_1Q'), ('CO_season', 'CN_tendance_2Q'), ('CO_weather', 'CO_humidityQ'), ('CO_weather', 'CO_tempQ'), ('CO_weather', 'CO_atempQ'), ('CO_weather', 'CO_windspeedQ'), ('CO_weather', 'CO_holiday'), ('CO_weather', 'CN_school'), ('CO_weather', 'CN_soleilQ'), ('CO_weather', 'CN_tendance_1Q'), ('CO_weather', 'CN_tendance_2Q'), ('CO_humidityQ', 'CO_tempQ'), ('CO_humidityQ', 'CO_atempQ'), ('CO_humidityQ', 'CO_windspeedQ'), ('CO_humidityQ', 'CO_holiday'), ('CO_humidityQ', 'CN_school'), ('CO_humidityQ', 'CN_soleilQ'), ('CO_humidityQ', 'CN_tendance_1Q'), ('CO_humidityQ', 'CN_tendance_2Q'), ('CO_tempQ', 'CO_atempQ'), ('CO_tempQ', 'CO_windspeedQ'), ('CO_tempQ', 'CO_holiday'), ('CO_tempQ', 'CN_school'), ('CO_tempQ', 'CN_soleilQ'), ('CO_tempQ', 'CN_tendance_1Q'), ('CO_tempQ', 'CN_tendance_2Q'), ('CO_atempQ', 'CO_windspeedQ'), ('CO_atempQ', 'CO_holiday'), ('CO_atempQ', 'CN_school'), ('CO_atempQ', 'CN_soleilQ'), ('CO_atempQ', 'CN_tendance_1Q'), ('CO_atempQ', 'CN_tendance_2Q'), ('CO_windspeedQ', 'CO_holiday'), ('CO_windspeedQ', 'CN_school'), ('CO_windspeedQ', 'CN_soleilQ'), ('CO_windspeedQ', 'CN_tendance_1Q'), ('CO_windspeedQ', 'CN_tendance_2Q'), ('CO_holiday', 'CN_school'), ('CO_holiday', 'CN_soleilQ'), ('CO_holiday', 'CN_tendance_1Q'), ('CO_holiday', 'CN_tendance_2Q'), ('CN_school', 'CN_soleilQ'), ('CN_school', 'CN_tendance_1Q'), ('CN_school', 'CN_tendance_2Q'), ('CN_soleilQ', 'CN_tendance_1Q'), ('CN_soleilQ', 'CN_tendance_2Q'), ('CN_tendance_1Q', 'CN_tendance_2Q')]

KeyError: 'CO_month'

In [140]:
list(df_all_categorical)

['CO_month',
 'CO_workingday',
 'CO_hour',
 'CO_day',
 'CO_year',
 'CO_season',
 'CO_weather',
 'CO_humidityQ',
 'CO_tempQ',
 'CO_atempQ',
 'CO_windspeedQ',
 'CO_holiday',
 'CN_school',
 'CN_soleilQ',
 'CN_tendance_1Q',
 'CN_tendance_2Q',
 'CO_month_+_CO_workingday']

In [ ]:
len(list(all_origin_var_and_new))
len(list(df_all_dummies))
len(list(all_var_for_models_nodup))

all_var_for_models = []
all_var_for_models.append("datetime")
for each in all_origin_var_and_new:
    all_var_for_models.append(each) 
for each in df_all_dummies:
    all_var_for_models.append(each)

all_var_for_models_nodup = []
for each in all_var_for_models:
    if each not in all_var_for_models_nodup:
        all_var_for_models_nodup.append(each)

In [99]:

df_numeric_and_categorical_o = pd.concat([df[all_var_for_models], axis = 1)
                                          
list_var_clean_X = [var for var in list(df_numeric_and_categorical_o) if var != "count" and var != "datetime"]
clean_X = df_numeric_and_categorical_o[list_var_clean_X]
clean_Y = df[["count"]]

X_train, X_test, Y_train, Y_test = train_test_split(clean_X,
                                                    clean_Y,
                                                    test_size = 0.3,
                                                    random_state = 0)

['CO_month',
 'CO_workingday',
 'NO_temp',
 'NO_atemp',
 'NO_humidity',
 'NO_windspeed',
 'CO_hour',
 'CO_day',
 'CO_year',
 'CO_season',
 'CO_weather',
 'CO_humidityQ',
 'CO_tempQ',
 'CO_atempQ',
 'CO_windspeedQ',
 'CO_holiday',
 'CN_school',
 'NN_soleil',
 'CN_soleilQ',
 'NN_tendance_1',
 'NN_tendance_2',
 'CN_tendance_1Q',
 'CN_tendance_2Q']

In [10]:
all_categorical = [name_var for name_var in list(df) if name_var[0:1] == 'C']

CO_month          object
CO_workingday      int64
CO_hour            int64
CO_day            object
CO_year            int64
CO_season         object
CO_weather        object
CO_humidityQ      object
CO_tempQ          object
CO_atempQ         object
CO_windspeedQ     object
CO_holiday         int64
CN_school          int64
CN_soleilQ        object
CN_tendance_1Q    object
CN_tendance_2Q    object
dtype: object

On transforme en variables de type "string"

In [16]:
df_all_categorical = df[all_categorical].applymap(str)

In [17]:
df_all_categorical.dtypes

CO_month          object
CO_workingday     object
CO_hour           object
CO_day            object
CO_year           object
CO_season         object
CO_weather        object
CO_humidityQ      object
CO_tempQ          object
CO_atempQ         object
CO_windspeedQ     object
CO_holiday        object
CN_school         object
CN_soleilQ        object
CN_tendance_1Q    object
CN_tendance_2Q    object
dtype: object

On fait les interactions d'ordre 2

In [80]:
# from patsylearn import PatsyTransformer
from patsylearn import PatsyModel
transformer = PatsyTransformer("C(CO_season):C(CO_weather) + C(CO_season):C(CO_humidityQ)")

ModuleNotFoundError: No module named 'patsylearn'

In [79]:
import patsy

In [23]:
# Transformation de toutes les variables catÃ©gorielles:
df_all_dummies = pd.get_dummies(df_all_categorical)

In [24]:
list(df_all_dummies)

['CO_month_April',
 'CO_month_August',
 'CO_month_December',
 'CO_month_February',
 'CO_month_January',
 'CO_month_July',
 'CO_month_June',
 'CO_month_March',
 'CO_month_May',
 'CO_month_November',
 'CO_month_October',
 'CO_month_September',
 'CO_workingday_0',
 'CO_workingday_1',
 'CO_hour_0',
 'CO_hour_1',
 'CO_hour_10',
 'CO_hour_11',
 'CO_hour_12',
 'CO_hour_13',
 'CO_hour_14',
 'CO_hour_15',
 'CO_hour_16',
 'CO_hour_17',
 'CO_hour_18',
 'CO_hour_19',
 'CO_hour_2',
 'CO_hour_20',
 'CO_hour_21',
 'CO_hour_22',
 'CO_hour_23',
 'CO_hour_3',
 'CO_hour_4',
 'CO_hour_5',
 'CO_hour_6',
 'CO_hour_7',
 'CO_hour_8',
 'CO_hour_9',
 'CO_day_Friday',
 'CO_day_Monday',
 'CO_day_Saturday',
 'CO_day_Sunday',
 'CO_day_Thursday',
 'CO_day_Tuesday',
 'CO_day_Wednesday',
 'CO_year_2011',
 'CO_year_2012',
 'CO_season_Automne',
 'CO_season_Hiver',
 'CO_season_Printemps',
 'CO_season_Ã‰tÃ©',
 'CO_weather_Beau temps',
 'CO_weather_Nuageux',
 'CO_weather_Pluvieux (+)',
 'CO_weather_Pluvieux (-)',
 'CO_humidityQ_(47,62]',
 'CO_humidityQ_(62,77]',
 'CO_humidityQ_(77,100]',
 'CO_humidityQ_[0,47]',
 'CO_tempQ_(13.9,20.5]',
 'CO_tempQ_(20.5,26.2]',
 'CO_tempQ_(26.2,41]',
 'CO_tempQ_[0.82,13.9]',
 'CO_atempQ_(16.7,24.2]',
 'CO_atempQ_(24.2,31.1]',
 'CO_atempQ_(31.1,45.5]',
 'CO_atempQ_[0.76,16.7]',
 'CO_windspeedQ_(13,17]',
 'CO_windspeedQ_(17,57]',
 'CO_windspeedQ_(7,13]',
 'CO_windspeedQ_[0,7]',
 'CO_holiday_0',
 'CO_holiday_1',
 'CN_school_0',
 'CN_school_1',
 'CN_soleilQ_(-28,1.01]',
 'CN_soleilQ_(1.01,28.9]',
 'CN_soleilQ_(28.9,74.4]',
 'CN_soleilQ_[-74.5,-28]',
 'CN_tendance_1Q_(0.432,0.593]',
 'CN_tendance_1Q_(0.593,0.64]',
 'CN_tendance_1Q_(0.64,0.672]',
 'CN_tendance_1Q_(0.672,1.31]',
 'CN_tendance_1Q_(1.31,1.49]',
 'CN_tendance_1Q_(1.49,1.56]',
 'CN_tendance_1Q_(1.56,1.69]',
 'CN_tendance_1Q_(1.69,2.31]',
 'CN_tendance_1Q_(2.31,2.45]',
 'CN_tendance_1Q_[0.409,0.432]',
 'CN_tendance_2Q_(136,217]',
 'CN_tendance_2Q_(217,285]',
 'CN_tendance_2Q_(285,365]',
 'CN_tendance_2Q_(365,433]',
 'CN_tendance_2Q_(433,501]',
 'CN_tendance_2Q_(501,582]',
 'CN_tendance_2Q_(582,650]',
 'CN_tendance_2Q_(650,718]',
 'CN_tendance_2Q_(67,136]',
 'CN_tendance_2Q_[0,67]']

In [25]:
df_all_dummies.shape

(10886, 99)

In [26]:
df_all_dummies.head()

,CO_month_April,CO_month_August,CO_month_December,CO_month_February,CO_month_January,CO_month_July,CO_month_June,CO_month_March,CO_month_May,CO_month_November,...,"CN_tendance_2Q_(136,217]","CN_tendance_2Q_(217,285]","CN_tendance_2Q_(285,365]","CN_tendance_2Q_(365,433]","CN_tendance_2Q_(433,501]","CN_tendance_2Q_(501,582]","CN_tendance_2Q_(582,650]","CN_tendance_2Q_(650,718]","CN_tendance_2Q_(67,136]","CN_tendance_2Q_[0,67]"
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [27]:
df_numeric_and_dummies = pd.concat([df[["datetime"]], df_all_numeric, df_all_dummies], axis = 1)

In [29]:
len(list(df_numeric_and_dummies))

107

In [36]:
list_var_clean_X = [var for var in list(df_numeric_and_dummies) if var != "count" and var != "datetime"]
clean_X = df_numeric_and_dummies[list_var_clean_X]
clean_Y = df[["count"]]

In [37]:
list(clean_X)

['NO_temp',
 'NO_atemp',
 'NO_humidity',
 'NO_windspeed',
 'NN_soleil',
 'NN_tendance_1',
 'NN_tendance_2',
 'CO_month_April',
 'CO_month_August',
 'CO_month_December',
 'CO_month_February',
 'CO_month_January',
 'CO_month_July',
 'CO_month_June',
 'CO_month_March',
 'CO_month_May',
 'CO_month_November',
 'CO_month_October',
 'CO_month_September',
 'CO_workingday_0',
 'CO_workingday_1',
 'CO_hour_0',
 'CO_hour_1',
 'CO_hour_10',
 'CO_hour_11',
 'CO_hour_12',
 'CO_hour_13',
 'CO_hour_14',
 'CO_hour_15',
 'CO_hour_16',
 'CO_hour_17',
 'CO_hour_18',
 'CO_hour_19',
 'CO_hour_2',
 'CO_hour_20',
 'CO_hour_21',
 'CO_hour_22',
 'CO_hour_23',
 'CO_hour_3',
 'CO_hour_4',
 'CO_hour_5',
 'CO_hour_6',
 'CO_hour_7',
 'CO_hour_8',
 'CO_hour_9',
 'CO_day_Friday',
 'CO_day_Monday',
 'CO_day_Saturday',
 'CO_day_Sunday',
 'CO_day_Thursday',
 'CO_day_Tuesday',
 'CO_day_Wednesday',
 'CO_year_2011',
 'CO_year_2012',
 'CO_season_Automne',
 'CO_season_Hiver',
 'CO_season_Printemps',
 'CO_season_Ã‰tÃ©',
 'CO_weather_Beau temps',
 'CO_weather_Nuageux',
 'CO_weather_Pluvieux (+)',
 'CO_weather_Pluvieux (-)',
 'CO_humidityQ_(47,62]',
 'CO_humidityQ_(62,77]',
 'CO_humidityQ_(77,100]',
 'CO_humidityQ_[0,47]',
 'CO_tempQ_(13.9,20.5]',
 'CO_tempQ_(20.5,26.2]',
 'CO_tempQ_(26.2,41]',
 'CO_tempQ_[0.82,13.9]',
 'CO_atempQ_(16.7,24.2]',
 'CO_atempQ_(24.2,31.1]',
 'CO_atempQ_(31.1,45.5]',
 'CO_atempQ_[0.76,16.7]',
 'CO_windspeedQ_(13,17]',
 'CO_windspeedQ_(17,57]',
 'CO_windspeedQ_(7,13]',
 'CO_windspeedQ_[0,7]',
 'CO_holiday_0',
 'CO_holiday_1',
 'CN_school_0',
 'CN_school_1',
 'CN_soleilQ_(-28,1.01]',
 'CN_soleilQ_(1.01,28.9]',
 'CN_soleilQ_(28.9,74.4]',
 'CN_soleilQ_[-74.5,-28]',
 'CN_tendance_1Q_(0.432,0.593]',
 'CN_tendance_1Q_(0.593,0.64]',
 'CN_tendance_1Q_(0.64,0.672]',
 'CN_tendance_1Q_(0.672,1.31]',
 'CN_tendance_1Q_(1.31,1.49]',
 'CN_tendance_1Q_(1.49,1.56]',
 'CN_tendance_1Q_(1.56,1.69]',
 'CN_tendance_1Q_(1.69,2.31]',
 'CN_tendance_1Q_(2.31,2.45]',
 'CN_tendance_1Q_[0.409,0.432]',
 'CN_tendance_2Q_(136,217]',
 'CN_tendance_2Q_(217,285]',
 'CN_tendance_2Q_(285,365]',
 'CN_tendance_2Q_(365,433]',
 'CN_tendance_2Q_(433,501]',
 'CN_tendance_2Q_(501,582]',
 'CN_tendance_2Q_(582,650]',
 'CN_tendance_2Q_(650,718]',
 'CN_tendance_2Q_(67,136]',
 'CN_tendance_2Q_[0,67]']

In [39]:
clean_Y.head()

   count
0     16
1     40
2     32
3     13
4      1

In [40]:
X_train, X_test, y_train, y_test = train_test_split(clean_X,
                                                    clean_y,
                                                    test_size = 0.3,
                                                    random_state = 0)

NameError: name 'train_test_split' is not defined