In [ ]:
# Read "train.csv"

In [1]:
import pandas as pd
raw_training_set = pd.read_csv("train.csv", delimiter = ",")

In [2]:
type(raw_training_set['datetime'])

pandas.core.series.Series

In [3]:
# Utiliser "train.csv" du 1er au 18 du mois

In [4]:
def day_of_datetime(x):
    datetime_2 = pd.to_datetime(x)
    return(datetime_2)

raw_training_set['datetime_2'] = raw_training_set['datetime'].map(day_of_datetime)

In [5]:
raw_training_set['day_of_datetime'] = raw_training_set['datetime_2'].dt.day
raw_training_set['month_of_datetime'] = raw_training_set['datetime_2'].dt.month
raw_training_set['year_of_datetime'] = raw_training_set['datetime_2'].dt.year
raw_training_set['hour_of_datetime'] = raw_training_set['datetime_2'].dt.hour

In [6]:
raw_training_set.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,datetime_2,day_of_datetime,month_of_datetime,year_of_datetime,hour_of_datetime
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011-01-01 00:00:00,1,1,2011,0
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011-01-01 01:00:00,1,1,2011,1
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2011-01-01 02:00:00,1,1,2011,2
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,2011-01-01 03:00:00,1,1,2011,3
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,2011-01-01 04:00:00,1,1,2011,4

In [13]:
## On part de raw_training_set et raw_training_set_clone
## pour une observation = "datetime" donnée, toutes les observations des 5 jours précédants
## qui correspondent à la même heure

# On calcule la colonne des 5 jours précédants:
from datetime import datetime,timedelta
pas = 5
def fun_all_dates_in_interval(pas):
    for i in range(0,pas):
        name_column_code =  "raw_training_set[" + "'" + "datetime_moins_" + str(i+1) + "']"
#         print (name_column_code)
    #     raw_training_set['datetime_moins_un'] = raw_training_set['datetime_2'].apply(pd.DateOffset(-i))
        name_column_code = name_column_code + "= raw_training_set['datetime_2'].apply(pd.DateOffset(-i-1))"
        print (name_column_code)
        exec(name_column_code)
fun_all_dates_in_interval(pas)

# ajouter la condition différence entre day_of_datetime de table 1  et day_of_datetime de table 2 <= 5
# dataset_same_hour_before = pd.merge(raw_training_set,raw_training_set_clone, on =  "hour_of_datetime", how = "inner")

raw_training_set['datetime_moins_1']= raw_training_set['datetime_2'].apply(pd.DateOffset(-i-1))
raw_training_set['datetime_moins_2']= raw_training_set['datetime_2'].apply(pd.DateOffset(-i-1))
raw_training_set['datetime_moins_3']= raw_training_set['datetime_2'].apply(pd.DateOffset(-i-1))
raw_training_set['datetime_moins_4']= raw_training_set['datetime_2'].apply(pd.DateOffset(-i-1))
raw_training_set['datetime_moins_5']= raw_training_set['datetime_2'].apply(pd.DateOffset(-i-1))

In [14]:
raw_training_set_clone = raw_training_set

In [15]:
# A FAIRE : jointure entre "datetime_moins_1" de raw_training_set et "datetime" de raw_training_set_clone
# AVANT dropper les colonnes datetime_moins_1, datetime_moins_2, ..., datetime_moins_5 de raw_training_set_clone

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,...,datetime_2,day_of_datetime,month_of_datetime,year_of_datetime,hour_of_datetime,datetime_moins_1,datetime_moins_2,datetime_moins_3,datetime_moins_4,datetime_moins_5
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,...,2011-01-01 00:00:00,1,1,2011,0,2010-12-31 00:00:00,2010-12-30 00:00:00,2010-12-29 00:00:00,2010-12-28 00:00:00,2010-12-27 00:00:00
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,...,2011-01-01 01:00:00,1,1,2011,1,2010-12-31 01:00:00,2010-12-30 01:00:00,2010-12-29 01:00:00,2010-12-28 01:00:00,2010-12-27 01:00:00
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,...,2011-01-01 02:00:00,1,1,2011,2,2010-12-31 02:00:00,2010-12-30 02:00:00,2010-12-29 02:00:00,2010-12-28 02:00:00,2010-12-27 02:00:00
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,...,2011-01-01 03:00:00,1,1,2011,3,2010-12-31 03:00:00,2010-12-30 03:00:00,2010-12-29 03:00:00,2010-12-28 03:00:00,2010-12-27 03:00:00
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,...,2011-01-01 04:00:00,1,1,2011,4,2010-12-31 04:00:00,2010-12-30 04:00:00,2010-12-29 04:00:00,2010-12-28 04:00:00,2010-12-27 04:00:00
5,2011-01-01 05:00:00,1,0,0,2,9.84,12.880,75,6.0032,0,...,2011-01-01 05:00:00,1,1,2011,5,2010-12-31 05:00:00,2010-12-30 05:00:00,2010-12-29 05:00:00,2010-12-28 05:00:00,2010-12-27 05:00:00
6,2011-01-01 06:00:00,1,0,0,1,9.02,13.635,80,0.0000,2,...,2011-01-01 06:00:00,1,1,2011,6,2010-12-31 06:00:00,2010-12-30 06:00:00,2010-12-29 06:00:00,2010-12-28 06:00:00,2010-12-27 06:00:00
7,2011-01-01 07:00:00,1,0,0,1,8.20,12.880,86,0.0000,1,...,2011-01-01 07:00:00,1,1,2011,7,2010-12-31 07:00:00,2010-12-30 07:00:00,2010-12-29 07:00:00,2010-12-28 07:00:00,2010-12-27 07:00:00
8,2011-01-01 08:00:00,1,0,0,1,9.84,14.395,75,0.0000,1,...,2011-01-01 08:00:00,1,1,2011,8,2010-12-31 08:00:00,2010-12-30 08:00:00,2010-12-29 08:00:00,2010-12-28 08:00:00,2010-12-27 08:00:00
9,2011-01-01 09:00:00,1,0,0,1,13.12,17.425,76,0.0000,8,...,2011-01-01 09:00:00,1,1,2011,9,2010-12-31 09:00:00,2010-12-30 09:00:00,2010-12-29 09:00:00,2010-12-28 09:00:00,2010-12-27 09:00:00
10,2011-01-01 10:00:00,1,0,0,1,15.58,19.695,76,16.9979,12,...,2011-01-01 10:00:00,1,1,2011,10,2010-12-31 10:00:00,2010-12-30 10:00:00,2010-12-29 10:00:00,2010-12-28 10:00:00,2010-12-27 10:00:00
11,2011-01-01 11:00:00,1,0,0,1,14.76,16.665,81,19.0012,26,...,2011-01-01 11:00:00,1,1,2011,11,2010-12-31 11:00:00,2010-12-30 11:00:00,2010-12-29 11:00:00,2010-12-28 11:00:00,2010-12-27 11:00:00
12,2011-01-01 12:00:00,1,0,0,1,17.22,21.210,77,19.0012,29,...,2011-01-01 12:00:00,1,1,2011,12,2010-12-31 12:00:00,2010-12-30 12:00:00,2010-12-29 12:00:00,2010-12-28 12:00:00,2010-12-27 12:00:00
13,2011-01-01 13:00:00,1,0,0,2,18.86,22.725,72,19.9995,47,...,2011-01-01 13:00:00,1,1,2011,13,2010-12-31 13:00:00,2010-12-30 13:00:00,2010-12-29 13:00:00,2010-12-28 13:00:00,2010-12-27 13:00:00
14,2011-01-01 14:00:00,1,0,0,2,18.86,22.725,72,19.0012,35,...,2011-01-01 14:00:00,1,1,2011,14,2010-12-31 14:00:00,2010-12-30 14:00:00,2010-12-29 14:00:00,2010-12-28 14:00:00,2010-12-27 14:00:00
15,2011-01-01 15:00:00,1,0,0,2,18.04,21.970,77,19.9995,40,...,2011-01-01 15:00:00,1,1,2011,15,2010-12-31 15:00:00,2010-12-30 15:00:00,2010-12-29 15:00:00,2010-12-28 15:00:00,2010-12-27 15:00:00
16,2011-01-01 16:00:00,1,0,0,2,17.22,21.210,82,19.9995,41,...,2011-01-01 16:00:00,1,1,2011,16,2010-12-31 16:00:00,2010-12-30 16:00:00,2010-12-29 16:00:00,2010-12-28 16:00:00,2010-12-27 16:00:00
17,2011-01-01 17:00:00,1,0,0,2,18.04,21.970,82,19.0012,15,...,2011-01-01 17:00:00,1,1,2011,17,2010-12-31 17:00:00,2010-12-30 17:00:00,2010-12-29 17:00:00,2010-12-28 17:00:00,2010-12-27 17:00:00
18,2011-01-01 18:00:00,1,0,0,3,17.22,21.210,88,16.9979,9,...,2011-01-01 18:00:00,1,1,2011,18,2010-12-31 18:00:00,2010-12-30 18:00:00,2010-12-29 18:00:00,2010-12-28 18:00:00,2010-12-27 18:00:00
19,2011-01-01 19:00:00,1,0,0,3,17.22,21.210,88,16.9979,6,...,2011-01-01 19:00:00,1,1,2011,19,2010-12-31 19:00:00,2010-12-30 19:00:00,2010-12-29 19:00:00,2010-12-28 19:00:00,2010-12-27 19:00:00
20,2011-01-01 20:00:00,1,0,0,2,16.40,20.455,87,16.9979,11,...,2011-01-01 20:00:00,1,1,2011,20,2010-12-31 20:00:00,2010-12-30 20:00:00,2010-12-29 20:00:00,2010-12-28 20:00:00,2010-12-27 20:00:00
21,2011-01-01 21:00:00,1,0,0,2,16.40,20.455,87,12.9980,3,...,2011-01-01 21:00:00,1,1,2011,21,2010-12-31 21:00:00,2010-12-30 21:00:00,2010-12-29 21:00:00,2010-12-28 21:00:00,2010-12-27 21:00:00
22,2011-01-01 22:00:00,1,0,0,2,16.40,20.455,94,15.0013,11,...,2011-01-01 22:00:00,1,1,2011,22,2010-12-31 22:00:00,2010-12-30 22:00:00,2010-12-29 22:00:00,2010-12-28 22:00:00,2010-12-27 22:00:00
23,2011-01-01 23:00:00,1,0,0,2,18.86,22.725,88,19.9995,15,...,2011-01-01 23:00:00,1,1,2011,23,2010-12-31 23:00:00,2010-12-30 23:00:00,2010-12-29 23:00:00,2010-12-28 23:00:00,2010-12-27 23:00:00
24,2011-01-02 00:00:00,1,0,0,2,18.86,22.725,88,19.9995,4,...,2011-01-02 00:00:00,2,1,2011,0,2011-01-01 00:00:00,2010-12-31 00:00:00,2010-12-30 00:00:00,2010-12-29 00:00:00,2010-12-28 00:00:00
25,2011-01-02 01:00:00,1,0,0,2,18.04,21.970,94,16.9979,1,...,2011-01-02 01:00:00,2,1,2011,1,2011-01-01 01:00:00,2010-12-31 01:00:00,2010-12-30 01:00:00,2010-12-29 01:00:00,2010-12-28 01:00:00
26,2011-01-02 02:00:00,1,0,0,2,17.22,21.210,100,19.0012,1,...,2011-01-02 02:00:00,2,1,2011,2,2011-01-01 02:00:00,2010-12-31 02:00:00,2010-12-30 02:00:00,2010-12-29 02:00:00,2010-12-28 02:00:00
27,2011-01-02 03:00:00,1,0,0,2,18.86,22.725,94,12.9980,2,...,2011-01-02 03:00:00,2,1,2011,3,2011-01-01 03:00:00,2010-12-31 03:00:00,2010-12-30 03:00:00,2010-12-29 03:00:00,2010-12-28 03:00:00
28,2011-01-02 04:00:00,1,0,0,2,18.86,22.725,94,12.9980,2,...,2011-01-02 04:00:00,2,1,2011,4,2011-01-01 04:00:00,2010-12-31 04:00:00,2010-12-30 04:00:00,2010-12-29 04:00:00,2010-12-28 04:00:00
29,2011-01-02 06:00:00,1,0,0,3,17.22,21.210,77,19.9995,0,...,2011-01-02 06:00:00,2,1,2011,6,2011-01-01 06:00:00,2010-12-31 06:00:00,2010-12-30 06:00:00,2010-12-29 06:00:00,2010-12-28 06:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10856,2012-12-18 18:00:00,4,0,1,1,15.58,19.695,46,22.0028,13,...,2012-12-18 18:00:00,18,12,2012,18,2012-12-17 18:00:00,2012-12-16 18:00:00,2012-12-15 18:00:00,2012-12-14 18:00:00,2012-12-13 18:00:00
10857,2012-12-18 19:00:00,4,0,1,1,15.58,19.695,46,26.0027,19,...,2012-12-18 19:00:00,18,12,2012,19,2012-12-17 19:00:00,2012-12-16 19:00:00,2012-12-15 19:00:00,2012-12-14 19:00:00,2012-12-13 19:00:00
10858,2012-12-18 20:00:00,4,0,1,1,14.76,16.665,50,16.9979,4,...,2012-12-18 20:00:00,18,12,2012,20,2012-12-17 20:00:00,2012-12-16 20:00:00,2012-12-15 20:00:00,2012-12-14 20:00:00,2012-12-13 20:00:00
10859,2012-12-18 21:00:00,4,0,1,1,14.76,17.425,50,15.0013,9,...,2012-12-18 21:00:00,18,12,2012,21,2012-12-17 21:00:00,2012-12-16 21:00:00,2012-12-15 21:00:00,2012-12-14 21:00:00,2012-12-13 21:00:00
10860,2012-12-18 22:00:00,4,0,1,1,13.94,16.665,49,0.0000,5,...,2012-12-18 22:00:00,18,12,2012,22,2012-12-17 22:00:00,2012-12-16 22:00:00,2012-12-15 22:00:00,2012-12-14 22:00:00,2012-12-13 22:00:00
10861,2012-12-18 23:00:00,4,0,1,1,13.94,17.425,49,6.0032,1,...,2012-12-18 23:00:00,18,12,2012,23,2012-12-17 23:00:00,2012-12-16 23:00:00,2012-12-15 23:00:00,2012-12-14 23:00:00,2012-12-13 23:00:00
10862,2012-12-19 00:00:00,4,0,1,1,12.30,15.910,61,0.0000,6,...,2012-12-19 00:00:00,19,12,2012,0,2012-12-18 00:00:00,2012-12-17 00:00:00,2012-12-16 00:00:00,2012-12-15 00:00:00,2012-12-14 00:00:00
10863,2012-12-19 01:00:00,4,0,1,1,12.30,15.910,65,6.0032,1,...,2012-12-19 01:00:00,19,12,2012,1,2012-12-18 01:00:00,2012-12-17 01:00:00,2012-12-16 01:00:00,2012-12-15 01:00:00,2012-12-14 01:00:00
10864,2012-12-19 02:00:00,4,0,1,1,11.48,15.150,65,6.0032,1,...,2012-12-19 02:00:00,19,12,2012,2,2012-12-18 02:00:00,2012-12-17 02:00:00,2012-12-16 02:00:00,2012-12-15 02:00:00,2012-12-14 02:00:00
10865,2012-12-19 03:00:00,4,0,1,1,10.66,13.635,75,8.9981,0,...,2012-12-19 03:00:00,19,12,2012,3,2012-12-18 03:00:00,2012-12-17 03:00:00,2012-12-16 03:00:00,2012-12-15 03:00:00,2012-12-14 03:00:00
10866,2012-12-19 04:00:00,4,0,1,1,9.84,12.120,75,8.9981,1,...,2012-12-19 04:00:00,19,12,2012,4,2012-12-18 04:00:00,2012-12-17 04:00:00,2012-12-16 04:00:00,2012-12-15 04:00:00,2012-12-14 04:00:00
10867,2012-12-19 05:00:00,4,0,1,1,10.66,14.395,75,6.0032,2,...,2012-12-19 05:00:00,19,12,2012,5,2012-12-18 05:00:00,2012-12-17 05:00:00,2012-12-16 05:00:00,2012-12-15 05:00:00,2012-12-14 05:00:00
10868,2012-12-19 06:00:00,4,0,1,1,9.84,12.880,75,6.0032,3,...,2012-12-19 06:00:00,19,12,2012,6,2012-12-18 06:00:00,2012-12-17 06:00:00,2012-12-16 06:00:00,2012-12-15 06:00:00,2012-12-14 06:00:00
10869,2012-12-19 07:00:00,4,0,1,1,10.66,13.635,75,8.9981,3,...,2012-12-19 07:00:00,19,12,2012,7,2012-12-18 07:00:00,2012-12-17 07:00:00,2012-12-16 07:00:00,2012-12-15 07:00:00,2012-12-14 07:00:00
10870,2012-12-19 08:00:00,4,0,1,1,9.84,12.880,87,7.0015,13,...,2012-12-19 08:00:00,19,12,2012,8,2012-12-18 08:00:00,2012-12-17 08:00:00,2012-12-16 08:00:00,2012-12-15 08:00:00,2012-12-14 08:00:00
10871,2012-12-19 09:00:00,4,0,1,1,11.48,14.395,75,7.0015,8,...,2012-12-19 09:00:00,19,12,2012,9,2012-12-18 09:00:00,2012-12-17 09:00:00,2012-12-16 09:00:00,2012-12-15 09:00:00,2012-12-14 09:00:00
10872,2012-12-19 10:00:00,4,0,1,1,13.12,16.665,70,7.0015,17,...,2012-12-19 10:00:00,19,12,2012,10,2012-12-18 10:00:00,2012-12-17 10:00:00,2012-12-16 10:00:00,2012-12-15 10:00:00,2012-12-14 10:00:00
10873,2012-12-19 11:00:00,4,0,1,1,16.40,20.455,54,15.0013,31,...,2012-12-19 11:00:00,19,12,2012,11,2012-12-18 11:00:00,2012-12-17 11:00:00,2012-12-16 11:00:00,2012-12-15 11:00:00,2012-12-14 11:00:00
10874,2012-12-19 12:00:00,4,0,1,1,16.40,20.455,54,19.0012,33,...,2012-12-19 12:00:00,19,12,2012,12,2012-12-18 12:00:00,2012-12-17 12:00:00,2012-12-16 12:00:00,2012-12-15 12:00:00,2012-12-14 12:00:00
10875,2012-12-19 13:00:00,4,0,1,1,17.22,21.210,50,12.9980,30,...,2012-12-19 13:00:00,19,12,2012,13,2012-12-18 13:00:00,2012-12-17 13:00:00,2012-12-16 13:00:00,2012-12-15 13:00:00,2012-12-14 13:00:00
10876,2012-12-19 14:00:00,4,0,1,1,17.22,21.210,50,12.9980,33,...,2012-12-19 14:00:00,19,12,2012,14,2012-12-18 14:00:00,2012-12-17 14:00:00,2012-12-16 14:00:00,2012-12-15 14:00:00,2012-12-14 14:00:00
10877,2012-12-19 15:00:00,4,0,1,1,17.22,21.210,50,19.0012,28,...,2012-12-19 15:00:00,19,12,2012,15,2012-12-18 15:00:00,2012-12-17 15:00:00,2012-12-16 15:00:00,2012-12-15 15:00:00,2012-12-14 15:00:00
10878,2012-12-19 16:00:00,4,0,1,1,17.22,21.210,50,23.9994,37,...,2012-12-19 16:00:00,19,12,2012,16,2012-12-18 16:00:00,2012-12-17 16:00:00,2012-12-16 16:00:00,2012-12-15 16:00:00,2012-12-14 16:00:00
10879,2012-12-19 17:00:00,4,0,1,1,16.40,20.455,50,26.0027,26,...,2012-12-19 17:00:00,19,12,2012,17,2012-12-18 17:00:00,2012-12-17 17:00:00,2012-12-16 17:00:00,2012-12-15 17:00:00,2012-12-14 17:00:00
10880,2012-12-19 18:00:00,4,0,1,1,15.58,19.695,50,23.9994,23,...,2012-12-19 18:00:00,19,12,2012,18,2012-12-18 18:00:00,2012-12-17 18:00:00,2012-12-16 18:00:00,2012-12-15 18:00:00,2012-12-14 18:00:00
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,...,2012-12-19 19:00:00,19,12,2012,19,2012-12-18 19:00:00,2012-12-17 19:00:00,2012-12-16 19:00:00,2012-12-15 19:00:00,2012-12-14 19:00:00
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,...,2012-12-19 20:00:00,19,12,2012,20,2012-12-18 20:00:00,2012-12-17 20:00:00,2012-12-16 20:00:00,2012-12-15 20:00:00,2012-12-14 20:00:00
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,...,2012-12-19 21:00:00,19,12,2012,21,2012-12-18 21:00:00,2012-12-17 21:00:00,2012-12-16 21:00:00,2012-12-15 21:00:00,2012-12-14 21:00:00
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,...,2012-12-19 22:00:00,19,12,2012,22,2012-12-18 22:00:00,2012-12-17 22:00:00,2012-12-16 22:00:00,2012-12-15 22:00:00,2012-12-14 22:00:00
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,...,2012-12-19 23:00:00,19,12,2012,23,2012-12-18 23:00:00,2012-12-17 23:00:00,2012-12-16 23:00:00,2012-12-15 23:00:00,2012-12-14 23:00:00

In [10]:
# On droppe les colonnes datetime_moins_1, datetime_moins_2, ..., datetime_moins_5 de raw_training_set_clone

In [16]:
col_to_drop = ['datetime_moins_1','datetime_moins_2','datetime_moins_3','datetime_moins_4','datetime_moins_5']
raw_training_set_clone = raw_training_set_clone[raw_training_set_clone.columns.drop(col_to_drop)]

In [ ]:
# jointure entre "datetime_moins_1" de raw_training_set et "datetime" de raw_training_set_clone

In [20]:
raw_training_set_clone.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,datetime_moins_1,day_of_datetime,month_of_datetime,year_of_datetime,hour_of_datetime
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011-01-01 00:00:00,1,1,2011,0
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011-01-01 01:00:00,1,1,2011,1
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2011-01-01 02:00:00,1,1,2011,2
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,2011-01-01 03:00:00,1,1,2011,3
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,2011-01-01 04:00:00,1,1,2011,4

In [21]:
# renommer 'datetime_2'  en 'datetime_moins_1' dans raw_training_set_clone
raw_training_set_clone.rename(columns={'datetime_2': 'datetime_moins_1'}, inplace=True)
join_using_datetime_moins_1 = pd.merge(raw_training_set,raw_training_set_clone, how = "left", on = "datetime_moins_1")

C:\Users\stagiaire8\Anaconda3\lib\site-packages\pandas\core\frame.py:3027: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [19]:
join_using_datetime_moins_1

,datetime_x,season_x,holiday_x,workingday_x,weather_x,temp_x,atemp_x,humidity_x,windspeed_x,casual_x,...,atemp_y,humidity_y,windspeed_y,casual_y,registered_y,count_y,day_of_datetime_y,month_of_datetime_y,year_of_datetime_y,hour_of_datetime_y
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2011-01-01 05:00:00,1,0,0,2,9.84,12.880,75,6.0032,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2011-01-01 06:00:00,1,0,0,1,9.02,13.635,80,0.0000,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2011-01-01 07:00:00,1,0,0,1,8.20,12.880,86,0.0000,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2011-01-01 08:00:00,1,0,0,1,9.84,14.395,75,0.0000,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2011-01-01 09:00:00,1,0,0,1,13.12,17.425,76,0.0000,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2011-01-01 10:00:00,1,0,0,1,15.58,19.695,76,16.9979,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2011-01-01 11:00:00,1,0,0,1,14.76,16.665,81,19.0012,26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2011-01-01 12:00:00,1,0,0,1,17.22,21.210,77,19.0012,29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2011-01-01 13:00:00,1,0,0,2,18.86,22.725,72,19.9995,47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2011-01-01 14:00:00,1,0,0,2,18.86,22.725,72,19.0012,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2011-01-01 15:00:00,1,0,0,2,18.04,21.970,77,19.9995,40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2011-01-01 16:00:00,1,0,0,2,17.22,21.210,82,19.9995,41,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2011-01-01 17:00:00,1,0,0,2,18.04,21.970,82,19.0012,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2011-01-01 18:00:00,1,0,0,3,17.22,21.210,88,16.9979,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2011-01-01 19:00:00,1,0,0,3,17.22,21.210,88,16.9979,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2011-01-01 20:00:00,1,0,0,2,16.40,20.455,87,16.9979,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2011-01-01 21:00:00,1,0,0,2,16.40,20.455,87,12.9980,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2011-01-01 22:00:00,1,0,0,2,16.40,20.455,94,15.0013,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2011-01-01 23:00:00,1,0,0,2,18.86,22.725,88,19.9995,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2011-01-02 00:00:00,1,0,0,2,18.86,22.725,88,19.9995,4,...,14.395,81.0,0.0000,3.0,13.0,16.0,1.0,1.0,2011.0,0.0
25,2011-01-02 01:00:00,1,0,0,2,18.04,21.970,94,16.9979,1,...,13.635,80.0,0.0000,8.0,32.0,40.0,1.0,1.0,2011.0,1.0
26,2011-01-02 02:00:00,1,0,0,2,17.22,21.210,100,19.0012,1,...,13.635,80.0,0.0000,5.0,27.0,32.0,1.0,1.0,2011.0,2.0
27,2011-01-02 03:00:00,1,0,0,2,18.86,22.725,94,12.9980,2,...,14.395,75.0,0.0000,3.0,10.0,13.0,1.0,1.0,2011.0,3.0
28,2011-01-02 04:00:00,1,0,0,2,18.86,22.725,94,12.9980,2,...,14.395,75.0,0.0000,0.0,1.0,1.0,1.0,1.0,2011.0,4.0
29,2011-01-02 06:00:00,1,0,0,3,17.22,21.210,77,19.9995,0,...,13.635,80.0,0.0000,2.0,0.0,2.0,1.0,1.0,2011.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10856,2012-12-18 18:00:00,4,0,1,1,15.58,19.695,46,22.0028,13,...,20.455,94.0,6.0032,14.0,493.0,507.0,17.0,12.0,2012.0,18.0
10857,2012-12-18 19:00:00,4,0,1,1,15.58,19.695,46,26.0027,19,...,21.210,88.0,8.9981,7.0,333.0,340.0,17.0,12.0,2012.0,19.0
10858,2012-12-18 20:00:00,4,0,1,1,14.76,16.665,50,16.9979,4,...,21.210,94.0,16.9979,8.0,192.0,200.0,17.0,12.0,2012.0,20.0
10859,2012-12-18 21:00:00,4,0,1,1,14.76,17.425,50,15.0013,9,...,21.210,94.0,8.9981,6.0,114.0,120.0,17.0,12.0,2012.0,21.0
10860,2012-12-18 22:00:00,4,0,1,1,13.94,16.665,49,0.0000,5,...,21.210,94.0,8.9981,5.0,49.0,54.0,17.0,12.0,2012.0,22.0
10861,2012-12-18 23:00:00,4,0,1,1,13.94,17.425,49,6.0032,1,...,21.210,94.0,15.0013,6.0,41.0,47.0,17.0,12.0,2012.0,23.0
10862,2012-12-19 00:00:00,4,0,1,1,12.30,15.910,61,0.0000,6,...,21.970,94.0,8.9981,0.0,18.0,18.0,18.0,12.0,2012.0,0.0
10863,2012-12-19 01:00:00,4,0,1,1,12.30,15.910,65,6.0032,1,...,21.970,94.0,8.9981,0.0,15.0,15.0,18.0,12.0,2012.0,1.0
10864,2012-12-19 02:00:00,4,0,1,1,11.48,15.150,65,6.0032,1,...,21.970,88.0,15.0013,2.0,5.0,7.0,18.0,12.0,2012.0,2.0
10865,2012-12-19 03:00:00,4,0,1,1,10.66,13.635,75,8.9981,0,...,21.210,88.0,12.9980,0.0,5.0,5.0,18.0,12.0,2012.0,3.0
10866,2012-12-19 04:00:00,4,0,1,1,9.84,12.120,75,8.9981,1,...,21.210,82.0,11.0014,3.0,5.0,8.0,18.0,12.0,2012.0,4.0
10867,2012-12-19 05:00:00,4,0,1,1,10.66,14.395,75,6.0032,2,...,19.695,87.0,6.0032,0.0,36.0,36.0,18.0,12.0,2012.0,5.0
10868,2012-12-19 06:00:00,4,0,1,1,9.84,12.880,75,6.0032,3,...,17.425,93.0,11.0014,1.0,117.0,118.0,18.0,12.0,2012.0,6.0
10869,2012-12-19 07:00:00,4,0,1,1,10.66,13.635,75,8.9981,3,...,17.425,93.0,8.9981,4.0,351.0,355.0,18.0,12.0,2012.0,7.0
10870,2012-12-19 08:00:00,4,0,1,1,9.84,12.880,87,7.0015,13,...,19.695,94.0,0.0000,10.0,652.0,662.0,18.0,12.0,2012.0,8.0
10871,2012-12-19 09:00:00,4,0,1,1,11.48,14.395,75,7.0015,8,...,20.455,87.0,6.0032,19.0,307.0,326.0,18.0,12.0,2012.0,9.0
10872,2012-12-19 10:00:00,4,0,1,1,13.12,16.665,70,7.0015,17,...,21.970,77.0,6.0032,22.0,162.0,184.0,18.0,12.0,2012.0,10.0
10873,2012-12-19 11:00:00,4,0,1,1,16.40,20.455,54,15.0013,31,...,23.485,63.0,15.0013,58.0,211.0,269.0,18.0,12.0,2012.0,11.0
10874,2012-12-19 12:00:00,4,0,1,1,16.40,20.455,54,19.0012,33,...,23.485,48.0,16.9979,49.0,264.0,313.0,18.0,12.0,2012.0,12.0
10875,2012-12-19 13:00:00,4,0,1,1,17.22,21.210,50,12.9980,30,...,24.240,42.0,19.0012,51.0,235.0,286.0,18.0,12.0,2012.0,13.0
10876,2012-12-19 14:00:00,4,0,1,1,17.22,21.210,50,12.9980,33,...,22.725,47.0,30.0026,56.0,191.0,247.0,18.0,12.0,2012.0,14.0
10877,2012-12-19 15:00:00,4,0,1,1,17.22,21.210,50,19.0012,28,...,22.725,44.0,32.9975,28.0,218.0,246.0,18.0,12.0,2012.0,15.0
10878,2012-12-19 16:00:00,4,0,1,1,17.22,21.210,50,23.9994,37,...,21.970,41.0,31.0009,40.0,323.0,363.0,18.0,12.0,2012.0,16.0
10879,2012-12-19 17:00:00,4,0,1,1,16.40,20.455,50,26.0027,26,...,20.455,47.0,30.0026,39.0,533.0,572.0,18.0,12.0,2012.0,17.0
10880,2012-12-19 18:00:00,4,0,1,1,15.58,19.695,50,23.9994,23,...,19.695,46.0,22.0028,13.0,512.0,525.0,18.0,12.0,2012.0,18.0
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,...,19.695,46.0,26.0027,19.0,334.0,353.0,18.0,12.0,2012.0,19.0
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,...,16.665,50.0,16.9979,4.0,264.0,268.0,18.0,12.0,2012.0,20.0
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,...,17.425,50.0,15.0013,9.0,159.0,168.0,18.0,12.0,2012.0,21.0
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,...,16.665,49.0,0.0000,5.0,127.0,132.0,18.0,12.0,2012.0,22.0
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,...,17.425,49.0,6.0032,1.0,80.0,81.0,18.0,12.0,2012.0,23.0

In [ ]:
# jointure entre "datetime_moins_2" de raw_training_set et "datetime" de raw_training_set_clone

In [ ]:
# jointure entre "datetime_moins_3" de raw_training_set et "datetime" de raw_training_set_clone

In [ ]:
# jointure entre "datetime_moins_4" de raw_training_set et "datetime" de raw_training_set_clone

In [ ]:
raw_training_set_join_moins_0 = pd.merge(raw_training_set,raw_training_set_clone, how = "inner", on = "datetime_moins_0")

## On ne considère pour l'instant que l'année 2012

In [ ]:
train_set = raw_training_set[(raw_training_set['day_of_datetime'] >= 1) \
                             & (raw_training_set['day_of_datetime'] <= 18) \
                             & (raw_training_set['year_of_datetime'] == 2012)]

In [ ]:
train_set

In [ ]:
# Test set = le 19 du mois

In [ ]:
test_set = raw_training_set[(raw_training_set['day_of_datetime'] == 19) \
                           & (raw_training_set['year_of_datetime'] == 2012)]

In [ ]:
test_set

In [ ]:
# Features [-15 jours; + 15 jours] à la même heure

In [ ]:
# Question gradient descent avec regularisation donne un modèle correct ?

In [ ]:
# Regardons la série des valeurs de "count" dans le temps
# pour se convaincre de la présence de saisonnalité
import matplotlib.pyplot as plt

# En tout : il y a dans le train_set, les 18 iers jours de chaque mois,
# pour les années 2011 et 2012. Avec toutes les heures de 00:00:00 à 23:00:00
# => 24 observations par jour => 24*18*24 observations en tout

In [ ]:
24*18*24

In [ ]:
len(train_set)

In [ ]:
# On fait un plot que pour le mois de janvier 2011
plot_janv = train_set[0:23]

In [ ]:
plot_janv

In [ ]:
plt.plot(plot_janv_2011['datetime'], plot_janv['count'], label = "Mois de janvier 2011")
plt.xlabel("Heures")
plt.ylabel("Count rentals")
plt.legend(loc='upper left')
plt.show()

In [ ]:
season_1 = train_set[train_set['season'] == 1]
season_2 = train_set[train_set['season'] == 2]
season_3 = train_set[train_set['season'] == 3]
season_4 = train_set[train_set['season'] == 4]

In [ ]:
%%time
plt.plot(train_set['datetime'], train_set['count'], label = "Année 2011-2012")
plt.xlabel("Heures")
plt.ylabel("Count rentals")
plt.legend(loc='upper left')
plt.show()

In [ ]:
fig = plt.figure(figsize = (20,20))

plt.subplot(4,1,1)

plt.plot(season_1['datetime'], season_1['count'], label = "Saison 1 Année 2011-2012")
plt.xlabel("Heures")
plt.ylabel("Count rentals")
plt.legend(loc='upper left')

plt.subplot(4,1,2)
plt.plot(season_2['datetime'], season_2['count'], label = "Saison 2 Année 2011-2012")
plt.xlabel("Heures")
plt.ylabel("Count rentals")
plt.legend(loc='upper left')

plt.subplot(4,1,3)
plt.plot(season_3['datetime'], season_3['count'], label = "Saison 3 Année 2011-2012")
plt.xlabel("Heures")
plt.ylabel("Count rentals")
plt.legend(loc='upper left')

plt.subplot(4,1,4)
plt.plot(season_4['datetime'], season_4['count'], label = "Saison 4 Année 2011-2012")
plt.xlabel("Heures")
plt.ylabel("Count rentals")
plt.legend(loc='upper left')

plt.show()

In [ ]:
# season_1 = janvier à mars

In [ ]:
# season_2 = mars à juin

In [ ]:
# season_3 = juillet à septembre

In [ ]:
# season_4 = octobre à décembre

In [ ]:
# Faire un modèle par saison
- méthode 1 : time series peut servir de baseline en utilisant 
- méthode 2 :